.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */

.header{

    background-image: url('../images/developer.png'), url('../images/header_bg.png');
     background-repeat: no-repeat;
background-position:top left,bottom right ;

}
 /* Shared CSS*/
 .bg2 {
    background-color: #FFF8F3;
 }
 /* sectionpart */
.section-title{
     font-size: 35px;
     font-weight:bold;
     color: #181818;
}

.section-des{
    font-size: 18px;
    color:#757575;
}
/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-des{
    font-weight: 600;
    display: flex;
}

/* what do part */

.skills-con{
    display: flex;
    gap: 25px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 #D1D1D1;
}



/* mainpart */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top:130px ;
    margin-bottom: 130px ;

}
.text-primary {
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.dark-5 {
    color: #D1D1D1;
}

.main-button {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    cursor: pointer;
    

    transition: background-color 0.3s ease;
}
.main-button:hover{
    background-color: crimson;
}



.text-center {
    text-align: center;
}



/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
    }

nav ul li {
    list-style: none;
    margin: 30px;
}

nav ul a {
    text-decoration: none;
}


/* Hero Section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 250px;
}
.banner-content {
    max-width: 580px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin: 0px;
        }

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin: 0px;
}

.banner-description {
    color: #474747;
}

.heroimage {
display: flex;
}
/* resumepart */
.resume-con{
    display: flex;
   gap: 24px;
}
.resume hr{
    margin:30px 5px ;
}
/* footer */
/*Footer*/
footer {
    display: flex;
    padding: 130px 230px;
    gap: 100px;
} 
footer input[type="text"], [type="email"], textarea {
    height: 60px;
    border-radius: 5px;
    background-color: white;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}